<h1>Welcome to my world</h1>

<form method="post">

    Name : <input type="text" name="UserName" />
    <br />
    <br />

    Email : <input type="email" name="UserEmail" />
    <br />
    <br />

    Gender : <input type="radio" name="UserGender" value="male" /> male
    <input type="radio" name="UserGender" value="female" /> female
    <input type="radio" name="UserGender" value="other" /> other
    <br />
    <br />

    Password : <input type="password" name="UserPassword" />
    <br />
    <br />
    <input type="submit" value="store" />

</form>