
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">

    Name : <input type="text" name="name" />
    <br />
    <br />

    Email : <input type="email" name="email" />
    <br />
    <br />

    Gender : <input type="radio" name="gender" value="male" /> male
    <input type="radio" name="gender" value="female" /> female
    <input type="radio" name="gender" value="other" /> other
    <br />
    <br />

    Password : <input type="password" name="password" />
    <br />
    <br />
    <input type="submit" value="store" />

</form>